<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Entry</title>
  </head>
  <body>
    <h1>Edit Your Entry</h1>

    <form action = "/edit/:id" method = "POST">
      <input class="submit" type = "text" placeholder = "Country Name" name= "country">
      <input class="submit" type = "text" placeholder = "Date Traveled (ie - 10/2018, August 2017, Apr 10-15, 2015)" name = "date">
      <button class="btn btn-default btn-info">Log it!</button>
    </form>

  </body>
</html>
